.DBXFF-scroll-back-to-top {
    position: fixed;
    z-index: 9999;
    width: 50px;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in-out;
    bottom: 60px;
    right: 130px;
   
}

.DBXFF-scroll-back-to-top img {
    width: fit-content;
    cursor: pointer;
    transition: .2s ease-in-out;
    opacity: .3;
}

.DBXFF-scroll-back-to-top img:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
    opacity: 1;
}