* {
  scroll-behavior: smooth !important;
}



.DBXFF-box-layout {
  left: 0;
  top: 50%;
  position: fixed;
  width: auto;
  max-height: 485px;
  z-index: 9999;
  background-color: rgb(48, 48, 48);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  z-index: 10;
  transition: left 0.5s ease-out;
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  border-bottom-right-radius:3px;
  border-top-right-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.76) 0px 0px 7px, inset 10px 0px 5px -10px #000000;
  height: auto;
  padding-bottom: 10px !important;
  padding: 25px 5px;
  color: #9e9e9e;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px 0px !important;
}



.DBXFF-review-details {
  min-height: 95px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0px;
  box-shadow: 0px 0px 2px black;
  border-radius: 2px;
  background-image: linear-gradient(to right bottom, #2f3134, #262628, #1c1b1d, #121111, #000000);
  height: fit-content;
  justify-content: space-around;
  padding: 3px;
  margin-top: 2px;
  overflow: hidden;
}

.DBXFF-review-details h4 {
  margin: 0px;
}

.DBXFF-slide-btn {
  background-image: linear-gradient(to top, #2f3134, #262628, #1c1b1d, #121111, #000000);
  position: absolute;
  right: 0;
  top: 0;
  color: #039183;
  margin: 5px;
  transition: .1s cubic-bezier(0.215, 0.610, 0.355, 1);
  font-size: 8px;
  font-weight: 700;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #00000052;
  padding: 2px;
  cursor: pointer;
  width: 25px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DBXFF-slide-btn:hover {
  transition: .1s;
  background-color: #bfb2d2;
  color: #04e0ca;
}

.toggleBtn {
  border-radius: 2px;
  transition: .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.DBXFF-slide-in-left {
  -webkit-animation: DBXFF-slide-in-left 0.5s ease-in both;
  animation: DBXFF-slide-in-left 0.5s ease-in both;
}

.DBXFF-slide-out-left {
  -webkit-animation: DBXFF-slide-out-left 0.3s ease-in both;
  animation: DBXFF-slide-out-left 0.3s ease-in both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-4-10 11:47:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation DBXFF-slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes DBXFF-slide-in-left {
  0% {
    -webkit-transform: translate(-290px, -50%);
    transform: translate(-290px, -50%);
    opacity: .5;
  }

  100% {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 1;
  }
}

@keyframes DBXFF-slide-in-left {
  0% {
    -webkit-transform: translate(-290px, -50%);
    transform: translate(-290px, -50%);
    opacity: .5;
  }

  100% {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation DBXFF-slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes DBXFF-slide-out-left {
  0% {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(-290px, -50%);
    transform: translate(-290px, -50%);
    opacity: .5;
  }
}

@keyframes DBXFF-slide-out-left {
  0% {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(-290px, -50%);
    transform: translate(-290px, -50%);
    opacity: .5;
  }
}


.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.DBXFF-main-input-container {
  display: flex;
  flex-direction: column;
  width: 315px;
  gap: 5px;
  margin-top: 5px;
}


.DBXFF-dl-icon-list {
  width: 20px;
  cursor: pointer;
  margin-left: 10px
}

.DBXFF-dlIconContainer {
  overflow: hidden;
  width: 30px;
  height: 20px;
  position: relative;
}

.DBXFF-dlIconContainer img {
  position: absolute;

}

.DBXFF-foundRes {
  font-size: 1.2em;
}


.DBXFF-btnAndListContainer {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 2px solid #405c75;
  border-image: linear-gradient(270deg, #1d1a1a 0, #c1c1c15c 50%, #1d1a1a);
  border-image-slice: 1;
  padding-bottom: 2px;
}

.DBXFF-btnAndListContainer>div {
  word-break: break-all;
}

.DBXFF-btnAndListContainer:hover {
  background-color: #0000002b;
}

.DBXFF-btnAndListContainer img {
  width: 20px;
  margin-left: 5px;
  cursor: pointer;
  filter: drop-shadow(0px 1px 1px #00000045) grayscale(0.5);
}

.DBXFF-query-results {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: auto;
  min-height: 200px;
  font-size: 13px;
  max-height: 330px !important;
}

/* width */
.DBXFF-query-results::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

/* Track */
.DBXFF-query-results::-webkit-scrollbar-track {
  background: #233a31;
  border-radius: 5px;
}

/* Handle */
.DBXFF-query-results::-webkit-scrollbar-thumb {
  background: #078075;
  border-radius: 5px;
}

/* Handle on hover */
.DBXFF-query-results::-webkit-scrollbar-thumb:hover {
  background: #08645c;
  border-radius: 5px;
}

.DBXFF-query-results p {
  margin: 0;
}


.DBXFF-student-number-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;

}

.DBXFF-student-number-container img {
  vertical-align: middle;
  border-style: none;
  filter: drop-shadow(0px 1px 1px #00000045) grayscale(0.5);
  width: 25px;
  cursor: pointer;
}

#DBXFF-mystudentNumberEl {
  margin: 0px;
}


.pulsate-fwd {
  -webkit-animation: pulsate-fwd ease-in-out infinite both;
  animation: pulsate-fwd ease-in-out infinite both;
}

.blink-1 {
  -webkit-animation: blink-1 0.6s infinite both;
  animation: blink-1 0.6s infinite both;
}

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-font-size: 1.2rem;
    font-size: 1.2rem;
  }

  50% {
    -webkit-font-size: 1.3rem;
    font-size: 1.3rem;
  }

  100% {
    -webkit-font-size: 1.2rem;
    font-size: 1.2rem
  }
}

@keyframes pulsate-fwd {
  0% {
    -webkit-font-size: 1.2rem;
    ;
    font-size: 1.2rem;
  }

  50% {
    -webkit-font-size: 1.3rem;
    font-size: 1.3rem;
  }

  100% {
    -webkit-font-size: 1.2rem;
    ;
    font-size: 1.2rem;
    ;
  }
}

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@-webkit-keyframes blink-1 {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes blink-1 {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.DBXFF-timer {
  margin: 0px;
  position: absolute;
  left: 0px;
  text-align: center;
  width: 60px;
  /* font-size: 1.3em !important; */
}



.DBXFF-timer-container {
  flex-direction: row;
  height: 25px;
  width: 80px;
  justify-content: space-around;
  padding: 0px 2px;
  position: absolute;
  top: 0;
  left: 5px;
  height: 25px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 0;
  background-color: #f0f8ff0d;
  display: flex;
  align-items: center;
}

.DBXFF-timer-container-fixed {
  left: 90%;
  top: -35px;
  box-shadow: 2px 2px 3px #00000066;
  background-color: #353535;
  border-radius: 6px;
}

.DBXFF-timer-container img {
  right: 5px;
  top: 50%;
  filter: drop-shadow(0px 0px 1px white);
  position: absolute;
  transform: translate(0px, -50%);
  width: 10px;
  cursor: pointer;
}

.DBXFF-counter-container {
  position: absolute;
  top: 0;
  left: 54%;
  height: 25px;
  transform: translate(-50%, 0px);
  width: 170px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 3px;
  background-color: #f0f8ff0d;
  color: white;
  padding: 0px 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.DBXFF-counter-container img {
  cursor: pointer;
  width: 10px;
  filter: drop-shadow(0px 0px 1px white);
}

.DBXFF-counter-container p {
  margin: 0;
}

.highlight {

  color: #009688;
}

/* Adds hover effect to reviewer dashboard table */
.tr-hover:hover {
  background-color: rgb(113 213 175 / 45%) !important;
}


.DBXFF-dialog-checkboxes {
/*   position: absolute; */
  right: 25px;
  width: 13px;
  top: 4px;
  z-index: 34;
  opacity: 1;
  right: 43px;
  top: 7px;
  accent-color: #06897c;
}

.DBXFF-remember-words {}

.DBXFF-remember-words-label {
  background-color: #57cea0;
  position: absolute;
  margin: 0;
  height: 20px;
  width: 193px;
  color: white;
  padding: 5px;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  display: inline-flex;
  transform: translate(5px, 4px);
  border-radius: 3px 3px 0px 0px;
  font-size: medium;
  font-weight: bold;
  user-select: none;
}


.DBXFF-remember-words-label input {
  accent-color: #f4cccb;
}

.DBXFF-review-counter-h3 {
  position: absolute;
    top: 42px;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, 3px);
    z-index: 5;
    font-family: inherit;
}

mark {
  background: #71d5afd4 !important;
  /* background: transparent !important; */
  border-radius: 15px;
  /* border-bottom: 2px solid #71d5af;
    border-top: 2px solid #71d5af; */
}

.DBXFF-review-counter-h3 p {
  /* color: #00ca7d; */
  font-family: system-ui, sans-serif, Arial;
  cursor: pointer;
}

.DBXFF-review-counter-h3 p:hover {
text-decoration: underline;
}

